* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}

ul {
    list-style: none;
}

body {
    background-color: #f5f9fc;
    color: #333333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15%;
}

nav ul li a {
    color: #333;
    font-weight: bold;

}

nav a img {
    border-radius: 60%;
}

.banner {
    padding: 100px 0;
    text-align: center;
    color: brown;
}
