body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;            
    margin: 0;   
    
}


main{
    display: flex;
    flex-direction: column;
   
   padding: 10px;
   
  
    text-align: center;
    border-radius: 5% ;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.164);
  
  
}

.img_logo{
    width:250px;
    background-color: rgba(199, 97, 2, 0.397) ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.274);
    border-radius: 5%;


}
.div_campo{
    
}

.campo{
   color: white;
    height: 20px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
   
    
}

.btn{
   
    margin: auto;
    width: 70px;
    height: 30px;
    background:#eeeeee;
    border-top-left-radius: 5px;
    font-weight: 500;

    border-radius: 10%;
    padding: 5px;
 
}

.material-symbols-outlined{
    padding-top: 10px;
}



